<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photography-based</title>
    <link href="https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre|Heebo&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="page">
        <div class="videos">
            <div class="button">Videos</div>
        </div>
        <div class="tweets-blog"><div class="button tweet">Tweets/Blog</div></div>
        <div class="name-slogan">
            <p class="name">Recycle Nation</p>
            <p class="slogan">Best recycling practices to avoid pollution</p>
        </div>
        <div class="search">
            <form class="search-field">
                <input id="submit" type="submit" value="">
                <!-- <i><img src="search32.png" alt="search icon"></i> -->
                <input type="text" placeholder="batteries" id="input-field">
            </form>
			
        </div>
		
    </div>
		<div class="fact"><center>{{{ body }}}</center></div>
	</body>
</html>
