<div class="page">
  <div class="photo"></div>
  <div class="blue-background"></div>
  <div class="nav-buttons">
      <button class="tweets">Tweets</button>
      <button class="messages">Message Board</button>
      <button class="login">Log In</button>
      <button class="signup" id="signup-button">Sign Up</button>
  </div>
    <p class="recycle">Recycle</p>
    <div class="nation"><p>Nation</p></div>
    <div class="slogan">
      <div class="line1"><p>Best recycling practices</p></div>
      <div class="line2"><p>to avoid pollution</p></div>
    </div>
    <div class="search">
        <form class="search-field">
          <div class="card-header">
            <h3>What do you want to recycle?</h3>
            <select class="selectpicker" id="material-search" data-live-search="true" width="400">
                <option>Choose material</option>
                <option>Acids</option>
                <option>Adult Toys</option>
                <option>Aluminum</option>
                <option>Batteries</option>
                <option>Cables</option>
                <option>Calculators</option>
                <option>Car Batteries</option>
                <option>Carpet</option>
                <option>Computer</option>             
                <option>Glass</option>
                <option>Metal</option>        
                <option>Paper</option>             
                <option>Plastic</option>
                <option>Tires</option>       
            </select>
            <div class="text-center">
                <button class="btn btn-primary btn-md" id="search-btn">
                <span class="fa fa-search"></span> Search</button>
            </div>
          </div>
      </form>
    </div>
    <div class="fact">
      {{#each facts}}
        {{> facts/fact-block}}
      {{/each}}
    </div>
    <!-- ========= RESULTS ======== -->
    <div id="results-modal" class="modal invisible">
        <div class="closing-x">
            <div>&times;</div>
        </div>
        <div class="well" id="stats">
            <h5 id="material"></h5>
            <h6 id="description"></h6>
            </div>
    </div>
    <!-- ========= TWEETS ======== -->
    <div id="tweets-modal" class="modal invisible">
      <div class="closing-x">
          <div>&times;</div>
      </div>
      {{#each tweet}}
        {{> tweets/tweet-block}}
      {{/each}}
    </div>
    <!-- ========= MESSAGES ======== -->
    <div id="messages-modal" class="information invisible">
      <div class="closing-x">
          <div>&times;</div>
      </div>
      {{#each messages}}
        {{> messages/message-block}}
      {{/each}}
    </div>
     <div id="messages-modal" class="information invisible">
      <div class="closing-x">
          <div>&times;</div>
      </div>
      {{#each results}}
        {{#if description}}
          {{> results/result-block}}
        {{/if}}
      {{/each}}
    </div>
    
    <!-- ========= View Posts ======== -->
    <div id="add-messages-modal" class="information invisible">
      <div class="closing-x">
        <div>&times;</div>
      </div>
      {{#each post}}
        {{> posts/post-block}}
      {{/each}}
    </div>
    <!-- ========= LOGIN ======== -->
    <div id="login-modal" class="information invisible">
      <div class="closing-x">
          <div>&times;</div>
      </div>

      {{> logins/login-block}}

    </div>
    <!-- ========= SIGNUP ======== -->
    <div id="signup-modal" class="information invisible">
      <div class="closing-x">
          <div>&times;</div>
      </div>
    {{> signups/signup-block}}
    </div>
</div>
