/* ================= DESKTOP ================== */

@media screen and (min-width: 678px) {

    /* ============ PAGE GRID ================== */
    
    .page {
        margin:0;
        padding: 0;
        display: grid;
        grid-template-columns: 10vw 10vw 10vw 10vw 20vw 20vw 10vw 10vw;
        grid-template-rows: 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh;
    }
    
    /* ============ PHOTO ================== */
    
    .photo {
        grid-column: 1 / 4;
        grid-row: 1 / -1;
        z-index: 10;
        background-image: url(../assets/images/ocean.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-top-right-radius: 60px;
        clip-path: inset(0% 0% 0% 0%);
        transition: all .5s ease-in-out; 
    }
    
    /* ============ BLUE-BACKROUND ================== */
    
    .blue-background {
        grid-column: 1 / 5;
        grid-row: 1 / -1;
        border-top-right-radius: 60px;
        border-bottom-right-radius: 0; 
        background-color: #658ba8;
        transition: all .5s ease-in-out; 
    }
    
    /* ============ BUTTONS ================== */
    
    /* grid */
    .nav-buttons {
        grid-column: 5 / -1;
        grid-row: 1 / 2;
    }
    
    .nav-buttons {
        display: grid;
        grid-auto-flow: column;
    }
    
    button {
        border: none;
        background-color: transparent;
        font-size: 14px;
        margin: 5%;
        text-transform: uppercase;
        cursor: pointer;
    }
    .signup:focus:after {
        border-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: none;
    }
    
    /* add transform */
    
    .tweets {
        justify-self: start;
    }
    
    .messages {
        justify-self: start;
    }
    
    .login {
        justify-self: end;
    }
    
    .signup {
        justify-self: end;
    }
    
    /* =========== SEARCH ============ */
    
    .search {
        width: 40%;
        margin: 0 auto;
        grid-column: 5 / -1;
        grid-row: 5 / 6;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 85% 15%;
    }
    
    #input-field {
        width: 100%;
        grid-row: 1 / -1; 
        grid-column: 1 / -1;
        align-self: center;
        justify-self: center;
    }
    
    #submit {
        grid-row: 1 / -1; 
        grid-column: 2 / -1;
        margin-top: 4%;
    }
    
    #input-field {
        background-color: transparent;
        font-size: calc(12px + 1vw);
        border: 1px solid black;
        border-radius: 8px;
        display: block;
        padding: 3%;
        color: black;
    }
    
    #input-field:focus {
        outline: none;
    }
    
    ::placeholder {
        color: black;
        opacity: 1; /* Firefox */
    }
    
    #submit {
        border: none;
        background-color: transparent;
        background-image: url(../assets/images/icon-b.png);
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    
    /* ============ RECYCLE WORD ================== */
    
    /* grid */
    .recycle {
        grid-column: 1 / 4;
        grid-row: 1 / 3;
        z-index: 20;
    }
    
    .recycle {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        writing-mode: vertical-rl;
        text-orientation: upright;
        text-transform: uppercase;
        font-size: 62px;
        margin-right: 3%;
        margin-top: 3vh;
    }
    
    /* ============ NATION WORD ================== */
    
    /* grid */
    .nation {
        grid-column: 2 / 5;
        grid-row: 2 / -1;
        z-index: 10;
    }
    
    .nation {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        writing-mode: vertical-rl;
        text-orientation: upright;
        text-transform: uppercase;
        font-size: 62px;
        margin-top: 17vh;
        margin-right: 7%;
        color: white;
    }
    
    /* ============ SLOGAN ================== */
    
    /* main grid */
    .slogan {
        grid-column: 5 / -1;
        grid-row: 3 / 4;
    }
    
    /* internal grid */
    .slogan {
        display: grid;
        margin-left: 16%;
        grid-template-columns: 10% 10% 60% 10% 10%;
        margin-top: 0;
    }
    
    .slogan {
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
    }
    
    .slogan div {
        display: grid;
    }
    
    .line1 {
        grid-column: 3 / -1;
        grid-row: 1 / 2;
    }
    
    .line2 {
        grid-column: 2 / -1;
        grid-row: 2 / 3;
    }
    
    .line1 p {
        align-self: end;
        margin: 0;
    }
    
    .line2 p{
        align-self: start;
        justify-self: start;
        margin: 0;
    }
    
    /* ============ FACT ================== */
    
    /* grid */
    .fact {
        grid-column: 5 / -1;
        grid-row: 9 / 10;
    }
    
    .fact {
        text-align: center;
        align-self: end;
        padding: 0 5%;
    }
    
    /* ============ MODAL ================== */
    
    .information {
        max-width: 60%;
        max-height: 60%;
        grid-row: 2 / 10;
        grid-column: 4 / 8;
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #658ba8;
        border-radius: 30px;
        clip-path: circle(0% at 90% 20%);
        transition: all .6s ease-in-out;
        align-self: center;
        justify-self: center;
        padding: 1% 5%;
        position: relative;
    }
    
    .info-field {
        width: 90%;
        background-color: transparent;
        font-size: calc(13px + 1vw);
        border: 1px solid white;
        border-radius: 8px;
        display: block;
        padding: 3%;
        margin: 3%;
        color: white;
    } 
    
    #info-field:focus {
        outline: none;
    }
    
    ::placeholder {
        color: black;
        opacity: 1; /* Firefox */
    }
    
    .signup-button:focus {
        outline: none;
    }
    
    .closing-x {
        color: white;
        font-size: 25px;
        display: flex;
        justify-content: end;
        cursor: pointer;
        align-self: flex-end;
        margin: 5%;
    }
    
    .closing-x:active {
        transform: translateY(1px); 
    }
    
    #info-field:focus {
        outline: none;
    }
    
    .modal-form input::placeholder {
        color: white;
        opacity: 1; /* Firefox */
    }
    
    .signup-button {
        border: 1px solid white;
        color: white;
        border-radius: 8px;
        margin-top: 5%;
        padding: 3%
    }
    
    .signup-button:focus {
        outline: none;
    }
    
    /* ============ VISIBILITY ================== */
    
    .seen {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.8s linear;
    }                
    .invisible {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s 0.3s, opacity 0.3s linear;
    }

    #stats {
        color: white;
        margin: 0 10% 10% 10%;
        font-size: 16px;
        overflow-y: scroll;
    }

    h5, h6 {
        font-size: 16px;  
    }
    }