<form class="modal-form login">
  <input type="email" placeholder="johnsmith@gmail.com" class="info-field" class="login-email-field" id="email-input" >
  <input type="password" placeholder="password" class="info-field" class="login-password-field" id="password-input">
</form>
<button type="submit" style="border: 2px solid black; padding: 10px; border-radius: 25px; " id="modal-signup-button" class="add-messages-button">login</button>  
